html,
body {
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
}

#heading {
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.partner-logo {
	width: 210px;
	height: 180px;
}

.login-stuff {
	position: absolute;
	top: 5%;
	right: 13%;
}

.existing-user {
	font-family: "Nunito Sans", sans-serif;
	font-size: 14px;
	text-align: left;
}

button.login {
	width: 140px;
	height: 40px;
	background-color: white;
	border: 2px solid #369CFF;
}

.login a {
	color: #45B0E5;
	font-family: "Nunito Sans", sans-serif;
	font-size: 16px;
}

#rectangle-4 {
	width: 100%;
	height: 700px;
	text-align: center;
}

.register-today-to-le {
  padding-top:10%;
	color: #FFFFFF;
	font-family: "Roboto Mono", monospace;
	font-size: 43px;
	margin-right: 15%;
	margin-left: 15%;
}

button.sign-up-now {
	width: 200px;
	height: 60px;
	background-color: #369CFF;
	border: none;
  margin-top: 116px;
}

button,
a,
.sign-up-now {
	color: #FFFFFF;
	font-family: "Nunito Sans", sans-serif;
	font-size: 20px;
	font-weight: 600;
}

.rectangle-4-copy {
	width: 100%;
	padding-top: 45px;
	padding-bottom: 45px;
	background-color: #1A1A1A;
	box-shadow: 0 9px 14px 0 rgba(0,0,0,0.2);
	text-align: center;
}

.in-partnership-with {
	color: #FFFFFF;
	font-family: "Roboto Mono", monospace;
	font-size: 22px;
	margin-right: 3%;
	margin-left: 3%;
}

.bottega-logo {
	width: 125px;
	height: 20px;
}

.happy-worker-box {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.happy-height {
	max-height: 712px;
}

.happy-worker-pic {
	float: left;
	width: 700px;
	padding-top: 25%;
	padding-bottom: 25%;
}

.happy-worker-text {
	float: left;
	position: relative;
	max-width: 450px;
	height: 100%;
	padding-top: 5%;
	margin-right: 30px;
	margin-left: 30px;
}

.happy-worker-text h2 {
	font-family: "Roboto Mono", monospace;
	font-size: 28px;
}

.happy-worker-text p, li {
	font-family: "Nunito Sans", sans-serif;
	font-size: 18px;
	padding-top: 10px;
}

.happy-sub-text {
	position: relative;
	font-size: 13px;
	color: #808080;
	margin-right: 13px;
}

#language-box {
	width: 100%;
	padding-top: 10%;
	padding-bottom: 10%;
}

#language-box {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.what_you_learn {
	max-width: 380px;
	max-height: 450px !important;
	margin-right: 30px;
	margin-left: 30px;
}

.what_text {
	max-width: 307px;
	height: 39px;
	color: #333333;
	font-family: "Roboto Mono", monospace;
	font-size: 30px;
	text-align: left;
	padding-bottom: 72px;
}

.demand_lang {
	height: 39px;
	width: 307px;
	color: #1A1A1A;
	font-family: "Roboto Mono", monospace;
	font-size: 19px;
}

.project-driven {
	width: 330px;
	height: 243px;
	text-align: left;
	color: #444444;
	font-family: "Nunito Sans", sans-serif;
	font-size: 20px;
}

.coding_lang {
	padding-top: 6%;
	padding-bottom: 6%;
	margin-top: 4%;
	margin-bottom: 4%;
	box-shadow: 0 6px 14px 0 rgba(0,0,0,0.2);
}

.lang-logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 100px;
}

.coding-text {
	padding-top: 12%;
	text-align: center;
}

.lang-header {
	font-family: "Roboto Mono", monospace;
	font-size: 19px;
	padding-bottom: 15px;
}

.coding_paragraph {
	color: #666666;
	font-family: "Nunito Sans", sans-serif;
	font-size: 20px;
	margin-right: 8%;
	margin-left: 8%;
}

#black_box {
	width: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: #1A1A1A;
	text-align: center;
}

.clear_path {
	word-spacing: 10px;
	height: 70px;
	color: #FFFFFF;
	font-family: "Roboto Mono", monospace;
	font-size: 27px;
	margin-right: 21%;
	margin-left: 21%;
}

.logos {
	margin-top: 150px;
}

.logos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.logo_cards {
	position: relative;
	text-align: center;
	max-width: 280px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 10px 15px 10px 15px;
}

.logo-icons {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.logo_text {
	width: 222px;
	color: #FFFFFF;
	font-family: "Roboto Mono";
	font-size: 16px;
	margin-top: 40px;
}

#learning-platform {
	position: relative;
	height: 1152px;
	width: 100%; 
}

.lp-headers {
	padding-top: 160px;
	text-align: center;
}

.lp-main-header {
	color: #333333;
	font-family: "Roboto Mono", monospace;
	font-size: 30px;
	line-height: 39px;
}

.lp-sub-header {
	margin-right: 18%;
	margin-left: 18%;
	color: #444444;
	font-family: "Nunito Sans", sans-serif;
	font-size: 20px;
	line-height: 27px;
}

#info-cards {
	padding-top: 160px;
	padding-bottom: 160px;
	width: 100%;
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
 	align-items: center;
}

.cards {
	float: left;
	height: 162px;
	width: 360px;
	margin: 50px 20px 50px 20px;
}

.card-header {
	font-size: 22px;
	font-family: "Roboto Mono", monospace;
	text-align: center;
}

.card-text {
	font-size: 20px;
	font-family: "Nunito Sans", sans-serif;
}

.slick-slide {
	margin-right: 20px;
	margin-left: 20px;
	border: none;
}

.profile-box {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
	margin-right: 3%;
	margin-left: 3%;
	margin-top: 20px;
	margin-bottom: 300px;
}

.pr
.pr * {
	box-sizing: border-box;
}

.pr {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 380px !important;
	height: 460px !important;
}

.pr
.profile-1
.profile-2
.profile-3
.profile-4
.profile-5
.profile-6
.profile-7 {
	max-width: 100%;
}

.pr .overlay {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.pr:hover .overlay,
.pr.active .overlay {
	opacity: 1;
}

.pr .name {
	font-family: "Roboto Mono", monospace;
	display: inline-block;
	position: absolute;
	top: 5%;
	left: 28%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.pr .work {
	font-family: "Nunito Sans", sans-serif;
	text-align: left;
	color: #dbdbdb;
	font-size: 17px;
	display: inline-block;
	position: absolute;
	top: 13%;
	margin-left: 17%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.pr .text {
	font-family: "Nunito Sans", sans-serif;
	text-align: left;
	font-size: 15px;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 45%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#start-now {
	position: relative;
	width: 100%;
	padding-top: 15%;
	padding-bottom: 15%;
}

#start-now {
	text-align: center;
}

.start-now-info {
	padding-top: 184px;
	color: white;
}

.sn-header {
	font-family: "Roboto Mono", monospace;
	font-size: 43px;
	word-spacing: 10px;
	margin-right: 21%;
	margin-left: 21%;
}

.sign-up-btn {
	margin-top: 10%;
	margin-bottom: 10%;
}

button.sign-up {
	width: 200px;
	height: 60px;
	background-color: #369CFF;
	border: none;
}

button,
a,
.sign-up {
	font-family: "Nunito Sans", sans-serif;
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.blue-bar {
	position: relative;
	bottom: 0;
	width: 100%;
	padding-top: 45px;
	padding-bottom: 45px;
	background-color: #369CFF;
}










